#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman euro-office-app.service
BindsTo=euro-office.service
After=euro-office.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%E/state/environment
WorkingDirectory=%E/state
Restart=always
TimeoutStopSec=70
#ExecStartPre=/usr/bin/podman volume prune --force
ExecStartPre=/bin/rm -f %t/euro-office-app.pid %t/euro-office-app.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/euro-office-app.pid \
    --cidfile %t/euro-office-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/euro-office.pod-id --replace -d --name euro-office-app \
    --env-file=%E/state/environment \
    --volume euro-office-data:/var/lib/euro-office/documentserver:z \
    --volume euro-office-log:/var/log/euro-office/documentserver:z \    
    --volume euro-office-config:/etc/euro-office/documentserver:z \
    ${DOCUMENTSERVER_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/euro-office-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP euro-office-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/euro-office-app.ctr-id
PIDFile=%t/euro-office-app.pid
Type=forking

[Install]
WantedBy=default.target
