#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman onlyoffice-app.service
BindsTo=onlyoffice.service
After=onlyoffice.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
#ExecStartPre=/usr/bin/podman volume prune --force
ExecStartPre=/bin/rm -f %t/onlyoffice-app.pid %t/onlyoffice-app.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/onlyoffice-app.pid \
    --cidfile %t/onlyoffice-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/onlyoffice.pod-id --replace -d --name onlyoffice-app \
    --env-file=%S/state/environment \
    --volume onlyoffice-log:/var/log/onlyoffice:Z \
    --volume onlyoffice-data:/var/www/onlyoffice/Data:Z \
    --volume onlyoffice-lib:/var/lib/onlyoffice:Z \
    --volume onlyoffice-rabbitmq:/var/lib/rabbitmq:Z \
    --volume onlyoffice-redis:/var/lib/redis:Z \
    --volume onlyoffice-db:/var/lib/postgresql:Z \
    --volume onlyoffice-fonts:/usr/share/fonts/truetype/custom:Z \
    ${DOCUMENTSERVER_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/onlyoffice-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP onlyoffice-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/onlyoffice-app.ctr-id
PIDFile=%t/onlyoffice-app.pid
Type=forking

[Install]
WantedBy=default.target
