#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman onlyoffice-app.service
BindsTo=onlyoffice.service
After=onlyoffice.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
#ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/onlyoffice-app.pid %t/onlyoffice-app.ctr-id
ExecStartPre=/usr/bin/grep -q JWT_SECRET environment || echo "JWT_SECRET=$(head -c 1024 /dev/urandom | tr -cd '[[:alnum:]]' | head -c 12)" >> environment
#ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/onlyoffice-app.pid \
    --cidfile %t/onlyoffice-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/onlyoffice.pod-id --replace -d --name onlyoffice-app \
    --env-file=%S/state/environment \
    ${DOCUMENTSERVER_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/onlyoffice-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP onlyoffice-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/onlyoffice-app.ctr-id
PIDFile=%t/onlyoffice-app.pid
Type=forking

[Install]
WantedBy=default.target
